body {
    background-image: url(../img/screencapture-crowdbotics.jpg);
    background-size: auto;
   
    background-position: center;
    main {
        padding-top: 20vh;
        h3 {
            font-family: 'Merriweather', serif;
        }
    }
}
