body {
    font-family: 'Raleway', sans-serif;
    nav {
        padding: 0 1rem;
        .brand-logo {
            font-family: 'Merriweather', serif;
        }
    }
    h4.tasks {
        margin-left: 2vw;
    }
}

.margin {
    margin-bottom: -7px;
}
