<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projectbotics</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/landing.css">
</head>

<body>

    <main>
        <section id="inicio">
            <!--Dian-->
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="descripcion">
                            <h3>Danos una descripción de tu producto</h3>
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Textarea</label>
                            </div>
                        </div>
                    </div>
                    <div id="tecnologias">
                       <h3>Que tipo de producto necesitas</h3>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="ios" />
                            <label for="ios">IOS</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="android" />
                            <label for="android">Android</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="web" />
                            <label for="web">Web</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="vr" />
                            <label for="vr">VR</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="ai" />
                            <label for="ai">AI</label>
                        </p>
                    </div>
                    <div id="categoria">
                       <h3>Tu producto entra dentro de alguna de estas categorias</h3>
                       <p>Puedes seleccionar varias</p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="creacion" />
                            <label for="creacion">Creación</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="social" />
                            <label for="social">Social</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="marketplace" />
                            <label for="marketplace">Marketplace</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="juego" />
                            <label for="juego">Juego</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="utilitario" />
                            <label for="utilitario">Utilitario</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="productividad" />
                            <label for="productividad">Productividad</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="blog" />
                            <label for="blog">Blog</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="foro" />
                            <label for="foro">Foro</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="educacion" />
                            <label for="educacion">Educación</label>
                            <a href=""><i class="tiny material-icons">help outline</i></a>
                        </p>
                        <p>
                            <input class="with-gap" name="group2" type="checkbox" id="otro" />
                            <label for="otro">Otro</label>
                            <input type="text">
                        </p>
                    </div>
                    <button type="submit">Adelante</button>
                </form>
            </div>


        </section>
        <section id="user-persona">
            <!--Pari-->
        </section>
        <section id="acciones">
            <!--Gaby & Rena-->
        </section>
        <section id="objetos">

        </section>
        <section id="referencias">

        </section>
        <section id="timeline">

        </section>
    </main>

    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../assets/js/landing.js"></script>
</body>

</html>
