<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Planner</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/landing.css">
</head>

<body>
    <header class="navbar-fixed">
        <nav class="nav-wrapper amber darken-2">
            <a class="brand-logo left">Crowdbotics</a>
            <a class="right">PRODUCT PLANNER</a>
        </nav>
    </header>
    <main class="container">
        <section id="inicio">
            <!--Dian-->
            <div class="row">
                <form id="seccion1">
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="descripcion">
                                <h4>Danos una descripción de tu producto</h4>
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Textarea</label>
                                </div>
                            </div>
                            <div id="tecnologias">
                                <h4>Que tipo de producto necesitas</h4>
                                <div class="row">
                                    <div class="col s6 m4 center">
                                        <img class="responsive-img" src="../assets/img/apple.svg" alt="ios">
                                        <p>
                                            <input class="tipo" name="group1" type="checkbox" id="ios" />
                                            <label for="ios">IOS</label>
                                        </p>
                                    </div>
                                    <div class="col s6 m4">
                                        <img class="responsive-img" src="../assets/img/android.svg" alt="android">
                                        <p>
                                            <input class="tipo" name="group1" type="checkbox" id="android" />
                                            <label for="android">Android</label>
                                        </p>
                                    </div>
                                    <div class="col s6 m4">
                                        <img class="responsive-img" src="../assets/img/web.svg" alt="web">
                                        <p>
                                            <input class="tipo" name="group1" type="checkbox" id="web" />
                                            <label for="web">Web</label>
                                        </p>
                                    </div>
                                    <div class="col s6 m4">
                                        <img class="responsive-img" src="../assets/img/vr.svg" alt="VR">
                                        <p>
                                            <input class="tipo" name="group1" type="checkbox" id="vr" />
                                            <label for="vr">VR</label>
                                        </p>
                                    </div>
                                    <div class="col s6 m4">
                                        <img class="responsive-img" src="../assets/img/ai.svg" alt="AI">
                                        <p>
                                            <input class="tipo" name="group1" type="checkbox" id="ai" />
                                            <label for="ai">AI</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m8">
                            <div id="categoria">
                                <h4>¿Tu producto entra dentro de alguna de estas categorias?</h4>
                                <p>Puedes seleccionar varias</p>

                                <div class="row">
                                    <div class="tarjeta col s12 m6">
                                        <div class="card">
                                            <div class="card-image">
                                                <!-- Modal Trigger -->
                                                <a class="btn-floating halfway-fab waves-effect waves-light green btn modal-trigger" href="#modal1"><i class="material-icons">help_outline</i></a>
                                                <img class="responsive-img" src="../assets/img/01-blog-01.svg">
                                            </div>
                                            <div class="card-content">
                                                <div class="row valign-wrapper">
                                                    <div class="col s6">
                                                        <span class="card-title">Blog</span>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="right-align">
                                                            <input class="with-gap categorias" name="group2" type="checkbox" id="blog" />
                                                            <label for="blog"></label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal Structure -->
                                    <div id="modal1" class="modal">
                                        <div class="modal-content">
                                            <h4>Blog</h4>
                                            <p>Un blog o bitácora es un sitio web que incluye, a modo de diario personal de su autor o autores, contenidos de su interés, actualizados con frecuencia y a menudo comentados por los lectores. Sirve como publicación en línea de historias con una periodicidad muy alta, que son presentadas en orden cronológico inverso, es decir, lo más reciente que se ha publicado es lo primero que aparece en la pantalla.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
                                        </div>
                                    </div>
                                    <!-- Close Modal Structure -->
                                    <div class="tarjeta col s12 m6">
                                        <div class="card">
                                            <div class="card-image">
                                                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">help_outline</i></a>
                                                <img class="responsive-img" src="../assets/img/02-social-01.svg">
                                            </div>
                                            <div class="card-content">
                                                <div class="row valign-wrapper">
                                                    <div class="col s6">
                                                        <span class="card-title">Social</span>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="right-align">
                                                            <input class="with-gap categorias" name="group2" type="checkbox" id="social" />
                                                            <label for="social"></label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tarjeta col s12 m6">
                                        <div class="card">
                                            <div class="card-image">
                                                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">help_outline</i></a>
                                                <img class="responsive-img" src="../assets/img/03-forum-01.svg" alt="forum">
                                            </div>
                                            <div class="card-content">
                                                <div class="row valign-wrapper">
                                                    <div class="col s6">
                                                        <span class="card-title">Foro</span>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="right-align">
                                                            <input class="with-gap categorias" name="group2" type="checkbox" id="foro" />
                                                            <label for="foro"></label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tarjeta col s12 m6">
                                        <div class="card">
                                            <div class="card-image">
                                                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">help_outline</i></a>
                                                <img class="responsive-img" src="../assets/img/04-shop-01.svg">
                                            </div>
                                            <div class="card-content">
                                                <div class="row valign-wrapper">
                                                    <div class="col s6">
                                                        <span class="card-title">Marketplace</span>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="right-align">
                                                            <input class="with-gap categorias" name="group2" type="checkbox" id="marketplace" />
                                                            <label for="marketplace"></label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tarjeta col s12 m6">
                                        <div class="card">
                                            <div class="card-image">
                                                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">help_outline</i></a>
                                                <img class="responsive-img" src="../assets/img/05-productivity-01.svg">
                                            </div>
                                            <div class="card-content">
                                                <div class="row valign-wrapper">
                                                    <div class="col s6">
                                                        <span class="card-title">Productividad</span>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="right-align">
                                                            <input class="with-gap categorias" name="group2" type="checkbox" id="productividad" />
                                                            <label for="productividad"></label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tarjeta col s12 m6">
                                        <div class="card">
                                            <div class="card-image">
                                                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">help_outline</i></a>
                                                <img class="responsive-img" src="../assets/img/06-education-01.svg">
                                            </div>
                                            <div class="card-content">
                                                <div class="row valign-wrapper">
                                                    <div class="col s6">
                                                        <span class="card-title">Educación</span>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="right-align">
                                                            <input class="with-gap categorias" name="group2" type="checkbox" id="educacion" />
                                                            <label for="educacion"></label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tarjeta col s12 m6">
                                        <div class="card">
                                            <div class="card-image">
                                                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">help_outline</i></a>
                                                <img class="responsive-img" src="../assets/img/07-game-01.svg">
                                            </div>
                                            <div class="card-content">
                                                <div class="row valign-wrapper">
                                                    <div class="col s6">
                                                        <span class="card-title">Juego</span>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="right-align">
                                                            <input class="with-gap categorias" name="group2" type="checkbox" id="juego" />
                                                            <label for="juego"></label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tarjeta col s12 m6">
                                        <div class="card">
                                            <div class="card-panel"><br><br>
                                                <div>
                                                    <input class="with-gap" name="group2" type="checkbox" id="otro" />
                                                    <label for="otro">Otro</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>

                    <div id="correcto1" class="col s12 m6 offset-m3 hide">
                        <input class="with-gap" name="group2" type="checkbox" id="check1" />
                        <label for="check1">Los datos son correctos</label>
                        <button id="correcto1s" class="waves-effect waves-light btn blue darken-3 hide" type="submit"><i class="material-icons right">arrow_forward</i> Siguiente </button>
                    </div>
                </form>
            </div>
        </section>
        <section id="user-persona" class="hide">
            <!--Pari-->
            <div class="container">
                <h4>Usuarios</h4>
                <h6>Ayúdanos a definir quién(es) usará(n) tu producto. Procura ser lo más específico posible.</h6>
                <!-- Tarjeta ejemplo -->
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card-panel blue lighten-5 tarjeta-ej">
                            <h5>Ejemplo:</h5>
                            <span class="col s6"> <i class="material-icons prefix">account_circle</i> <strong>Usuario:</strong> Estudiante </span>
                            <span class="col s6"> <i class="material-icons prefix">list</i><strong>Descripción: </strong>Niño(a) de tercer grado</span>
                        </div>
                    </div>
                </div>

                <form id="seccion2" class="col s12">
                    <div id="userPersona">
                        <div class="row">
                            <!-- ID range un(#user)= usuario nombre, ue(#user)= usuario espesificaciones/detalles-->
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="un-1" type="text" class="validate user">
                                <label for="un-1">Usuario (rol):</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">list</i>
                                <input id="ue1" type="text" class="">
                                <label for="ue1">Descripción(edad, sexo):</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="un-2" type="text" class="validate user">
                                <label for="un-2">Usuario (rol):</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">list</i>
                                <input id="ue2" type="text" class="">
                                <label for="ue2">Descripción(edad, sexo):</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="un-3" type="text" class="validate user">
                                <label for="un-3">Usuario (rol):</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">list</i>
                                <input id="ue3" type="text" class="">
                                <label for="ue3">Descripción(edad, sexo):</label>
                            </div>
                        </div>
                    </div>
                    <div id="correcto2" class="hide">
                        <input class="with-gap" name="group2" type="checkbox" id="check2" />
                        <label for="check2">Los datos son correctos</label>
                    </div>
                    <div class="row">
                        <button id="correcto2s" class="hide" type="submit">Siguiente</button>
                    </div>
                </form>
                <div class="fixed-action-btn">
                    <button id="nuevoUsuario" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></button>
                </div>
            </div>
            <!-- fin Pari -->
        </section>
        <section id="acciones" class="hide">
            <!--Gaby & Rena-->
            <div class="row">
                <h2 class="center-align">Acciones</h2>
                <p>//Agregar descripción//</p>
                <form id="seccion3">
                    <div id="usuario-acciones">
                        <div class="usuarios col m4">
                            <p>Usuario</p>
                        </div>
                        <div class="user-action col m4"> 
                            <h5 class="center-align">Acciones sugeridas</h5>
                            <div>
                                <p>básicos</p>
                            </div>
                        </div>
                        <div class="col m4">
                            <div>
                                <h5 class="center-align">Acciones particulares</h5>
                                <input type="text">
                                <input type="text">
                                <input type="text">
                                <!-- <div class="row">
                                    <button id="nueva-accion1" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div id="correcto3" class="hide">
                        <input class="with-gap" name="group2" type="checkbox" id="check3" />
                        <label for="check3">Los datos son correctos</label>
                    </div>
                    <button id="correcto3s" class="hide" type="submit">Siguiente</button>
                </form>
            </div>

        </section>
        <section id="objetos" class="hide">
            <div class="row">
                <h2 class="center-align">Objetos</h2>
                <p>//Agregar descripción//</p>
                <form id="seccion4">
                    <div class="usuarios col m4">
                        <p>Usuario1</p>
                    </div>
                    <div class="col m8">
                        <div class="user-action row"> 
                            <div class="col m6">
                                <h5 class="center-align">Acciones</h5>
                                <p>Accion#1</p>
                            </div>
                            <div class="col m6">
                                <h5 class="center-align">Datos</h5>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- <div id="correcto3" class="hide">
                        <input class="with-gap" name="group2" type="checkbox" id="check3" />
                        <label for="check3">Los datos son correctos</label>
                    </div>
                    <button id="correcto3s" class="hide" type="submit">Siguiente</button> -->
                </form>
            </div>
        </section>
        <section id="referencias">

        </section>
        <section id="timeline">

        </section>
    </main>

    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script src="../assets/js/landing.js"></script>
</body>

</html>
