<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timeline</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../assets/css/timeline.css">
</head>

<body>
    <header class="navbar-fixed">
        <nav class="nav-wrapper amber darken-2">
            <a class="brand-logo left">Crowdbotics</a>
            <a class="right">PRODUCT PLANNER</a>
        </nav>
    </header>
    <main id="timeline" class="container">
        <div class="row">
            <h3 class="amber-text text-darken-2">Timeline</h3>
            <p class="intro">Este es el cálculo del tiempo que tomará desarrollar tu producto <span class="amber-text">Nombre del Producto</span></p>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3 g--flex">

                <article>

                    <ul class="timeline">

                        <div class="timeline__endured">

                            <div class="aside filled">

                                <div class="aside__line filled__line">

                                    <div class="filled__line__completed" style="height: 100%;">

                                    </div>

                                </div>

                            </div>

                            <li class="timeline__event is--first-day is--monday is--complete">

                                <p class="timeline__event__date">Monday 1st August</p>

                                <figure class="dot">

                                    <span class="ratio svg dot__icon">
                <canvas width="9px" height="9px"></canvas>
                <svg viewBox="0 0 9 9"><use xlink:href="/src/svg/symbols/symbols.svg#tick"></use></svg>
            </span> </figure>

                                <h5 class="timeline__event__title">Project Start</h5>

                                <h6 class="timeline__event__difference"></h6>

                            </li>

                            <li class="timeline__event">

                                <p class="timeline__event__date">Tuesday 2nd August</p>

                            </li>

                            <li class="timeline__event">

                                <p class="timeline__event__date">Wednesday 3rd August</p>

                            </li>

                            <li class="timeline__event is--complete">

                                <p class="timeline__event__date">Thursday 4th August</p>

                                <figure class="dot">

                                    <span class="ratio svg dot__icon">
                <canvas width="9px" height="9px"></canvas>
                <svg viewBox="0 0 9 9"><use xlink:href="/src/svg/symbols/symbols.svg#tick"></use></svg>
            </span> </figure>

                                <h5 class="timeline__event__title">Status Report</h5>

                                <h6 class="timeline__event__difference"></h6>

                            </li>

                            <li class="timeline__event">

                                <p class="timeline__event__date">Friday 5th August</p>

                            </li>

                            <li class="timeline__event is--weekend">

                                <p class="timeline__event__date">Saturday 6th August</p>

                            </li>

                            <li class="timeline__event is--weekend">

                                <p class="timeline__event__date">Sunday 7th August</p>

                            </li>

                            <li class="timeline__event is--monday is--today">

                                <p class="timeline__event__date">Monday 8th August</p>

                                <figure class="dot">

                                   
                                </figure>

                                <h5 class="timeline__event__title">Wireframing Starts</h5>
 
                                <h6 class="timeline__event__difference"></h6>
      
                            </li>

                        </div>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Tuesday 2nd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Wednesday 3rd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Thursday 4th August</p>

                            <figure class="dot">
                            </figure>

                            <h5 class="timeline__event__title">Status Report</h5>

                            <h6 class="timeline__event__difference"></h6>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Friday 5th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Saturday 6th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Sunday 7th August</p>

                        </li>

                        <li class="timeline__event is--monday">

                            <p class="timeline__event__date">Monday 1st August</p>
                             <figure class="dot">
                            </figure>

                            <h5 class="timeline__event__title">Application Review</h5>

                            <h6 class="timeline__event__difference"></h6>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Tuesday 2nd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Wednesday 3rd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Thursday 4th August</p>

                            <figure class="dot">
                            </figure>

                            <h5 class="timeline__event__title">Status Report</h5>

                            <h6 class="timeline__event__difference"></h6>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Friday 5th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Saturday 6th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Sunday 7th August</p>

                        </li>

                        <li class="timeline__event is--monday">

                            <p class="timeline__event__date">Monday 1st August</p>
                            <figure class="dot">
                            </figure>
                            
                            <h5 class="timeline__event__title">Presentation of proposal</h5>

                            <h6 class="timeline__event__difference"></h6>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Tuesday 2nd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Wednesday 3rd August</p>  
                            <figure class="dot">
                            </figure>                          
                            
                            <h5 class="timeline__event__title">Review and Approval</h5>

                            <h6 class="timeline__event__difference"></h6>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Thursday 4th August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Friday 5th August</p>
                            <figure class="dot">
                            </figure>
                            
                            <h5 class="timeline__event__title">Status Report</h5>

                            <h6 class="timeline__event__difference"></h6>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Saturday 6th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Sunday 7th August</p>

                        </li>

                        <li class="timeline__event is--monday">

                            <p class="timeline__event__date">Monday 1st August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Tuesday 2nd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Wednesday 3rd August</p>
                            
                            <figure class="dot">
                            </figure>
                            <h5 class="timeline__event__title">Development review meeting</h5>

                            <h6 class="timeline__event__difference"></h6>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Thursday 4th August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Friday 5th August</p>
                            <figure class="dot">
                            </figure>
                            
                            <h5 class="timeline__event__title">Design review meeting</h5>

                            <h6 class="timeline__event__difference"></h6>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Saturday 6th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Sunday 7th August</p>

                        </li>

                        <li class="timeline__event is--monday">

                            <p class="timeline__event__date">Monday 1st August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Tuesday 2nd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Wednesday 3rd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Thursday 4th August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Friday 5th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Saturday 6th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Sunday 7th August</p>

                        </li>

                        <li class="timeline__event is--monday">

                            <p class="timeline__event__date">Monday 1st August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Tuesday 2nd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Wednesday 3rd August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Thursday 4th August</p>

                        </li>

                        <li class="timeline__event">

                            <p class="timeline__event__date">Friday 5th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Saturday 6th August</p>

                        </li>

                        <li class="timeline__event is--weekend">

                            <p class="timeline__event__date">Sunday 7th August</p>

                        </li>

                        <div class="aside unfilled">

                            <div class="aside__line">

                            </div>

                        </div>

                    </ul>

                </article>



            </div>
        </div>
    </main>
</body>

</html>
